/* Copyright 2021 UPM EDU MY. All rights reserved.
 * Author:  Li Jinghong, Mali Yulong, Li Runkai, Liang Zhaofeng
 * Matric Id: 209231, 209251, 208836, 208802
*/


/* for button 3 */
.toggle-button {
  -fx-background-image: url('http://temp.kl.my.qnfcp.xyz/3.jpg');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}